* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*Estilo do Topo da Página*/

body {
    margin: 0;
    padding: 0;
    background: #fad390;
}

nav {
    width: 100%;
    background: #ffeaa7;
    overflow: auto;
    justify-content: space-around;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    height: 20vh;
}

ul {
    padding: 0;
    margin: 0 0 0 150px;
    list-style: none;
}

li {
    float: left;
}

.logo img {
    position: absolute;
    margin-top: 5px;
    margin-left: 10px;
}

nav a {
    width: 90px;
    display: flex;
    padding: 40px 6px;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: #485460;
    transition: 0.5s;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav a:hover {
    opacity: 0.9;
    background-color: #ffb142;
    color: #dcdde1;
    cursor: pointer;
}

img {
    margin: 10px;
    height: 120px;
    width: 120px;
}


/*Estilo do Rodapé da Página*/

footer {
    background: #ffeaa7;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #353b48;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.footer-content img {
    height: 35px;
    width: 35px;
    align-items: center;
}

.socialsm {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socialsm li {
    margin: 0 10px;
}

.socialsm a {
    text-decoration: none;
    color: seagreen;
}

.socialsm a i {
    font-size: 1.1rem;
    transition: color.5s ease;
}

.socialsma:hover i {
    color: #353b48;
}

.footer-bottom {
    background: #ffeaa7;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .5;
    font-weight: 200;
}